{% extends "basic.html" %}

{% load static %}

{% block title %}Prajin Khatiwada{% endblock title %}

{% block hero %}

<section id="hero" class="hero section dark-background">

  <img src=" {% static "assets/img/minephoto5.png" %}" alt="" data-aos="fade-in">

  <div class="container d-flex flex-column align-items-center justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
    <h2>I am Prajin Khatiwada</h2>
    <p><span class="typed" data-typed-items="Designer, Developer, Freelancer, Photographer"></span></p>
  </div>

</section>



{% endblock hero %}

{% block body %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endblock body %}
