 {% extends "basic.html" %}

{% load static %}

{% block title %}Resume{% endblock title %}
{% block body %}
<section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Resume</h2>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Sumary</h3>

          <div class="resume-item pb-0">
            <h4>Prajin Khatiwada</h4>
            <p><em>Innovative Django developer with over 2 years of experience creating dynamic web applications from start to finish, always meeting deadlines.
            </em></p>
            <ul>
              <li>Buddhashanti 6,Jhapa,Nepal</li>
              <li>(+977) 9814073971</li>
              <li>prajinkhatiwada@gmail.com</li>
            </ul>
          </div><!-- Edn Resume Item -->

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Bsc in Computer Science and Information Technology</h4>
            <h5>2019 - 2024</h5>
            <p><em>Mechi Multiple Campus, Jhapa</em></p>
            <p>Studied computer science and information technology, focusing on software development, cloud computing, and full-stack web development. Worked on several projects, including a user management system and a cloud computing project, while keeping a strong academic performance.</p>
          </div><!-- Edn Resume Item -->

        
          <div class="resume-item">
            <h4>Isc in Science</h4>
            <h5>2016 - 2018</h5>
            <p><em>Liverpool International College,NewBaneshwor,Kathmandu</em></p>
            <p>Focused on Computer Science along with subjects like physics, chemistry, and math. Learned basics of programming and problem-solving, which helped prepare for a degree in computer science and IT.</p>
          </div>
          <!-- Edn Resume Item -->
          <div class="resume-item">
            <h4>School Leaving Certificate (SLC)</h4>
            <h5>2007 - 2016</h5>
            <p><em>Balmiki Education Foundation, Birtamode, Jhapa, Nepal</em></p>
            <p>Completed school level education with a focus on general subjects. Gained foundational knowledge and skills that supported further studies in computer science.</p>
        </div>
        <!-- Edn Resume Item -->

        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Internship in Full-Stack Web Development</h4>
            <h5>25-03-2024 to 25-06-2024</h5>
            <p><em>Samakhusi, Kathmandu, Nepal</em></p>
            <ul>
              <li>Learned the basics of web development, including HTML, CSS, and JavaScript, and completed simple website design tasks following company guidelines.</li>
              <li>Studied React concepts, including components, props, state management, and React Router.</li>
              <li>Gained experience with Postman for API testing and performed GET and POST requests.</li>
              <li>Reviewed and analyzed a past company project to understand real-world project preparation and coding standards.</li>
              <li>Developed a full-stack Content Management System (CMS) using the MERN stack, and completed the project within the internship deadline.</li>
            </ul>


          </div><!-- Edn Resume Item -->

          <div class="resume-item">
            <h4>High School Computer Science Teacher</h4>
            <h5>2022 - 2024</h5>
            <p><em>Gyan Sarobar Niketan, Bhadrapur-2, Jhapa</em></p>
            <ul>
              <li>Taught computer science and programming to +2 students.</li>
              <li>Created lesson plans and teaching materials.</li>
              <li>Checked student work and gave feedback to help them improve.</li>
              <li>Led lab sessions and coding projects.</li>
            </ul>            
          </div><!-- Edn Resume Item -->

        </div>

      </div>

    </div>

  </section><!-- /Resume Section -->
{% endblock body %}
